.dropdown-black .dropdown-menu {
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
}
.dropdown-black .dropdown-item {
  color: #fff !important;
}
.dropdown-black .dropdown-item:hover,
.dropdown-black .dropdown-item:focus {
  background-color: #181818 !important;
  color: #e50914 !important;
}
